/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

:root {
  --main-color: #ffffff;
  --secondry-color: #007AFE;
  --interaction-color: #D7E9FF;
  --light-gray: #EBEBEB;
  --delete-color: #c02727;
  --create-color: #66A238;
}

* {
  font-family: 'Roboto', sans-serif!important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General styles */
ol,
ul, 
li {
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}
li:hover {
  border-radius: 2px;
  padding: 10px;
  background-color: var(--interaction-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-gray);
  padding: 5px;
}
button {
  min-width: 44px;
  min-height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
a {
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: black;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr:hover {
  background-color: var(--interaction-color);
}

table tr:first-child:hover {
  background-color: transparent;
}
th {
  padding: 10px 10px 10px 10px;
  border: none;
  border-bottom: 1px solid var(--light-gray);
  text-align: start;
}
td {
  padding: 10px 10px 10px 10px;
  border: none;
}

input, select {
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  border: 1px solid var(--light-gray);
}
.bx {
  font-size: 1.6em;
}

/* Scroll styles */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #05d1ff71;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #05d1ff71;
}

/* Header styles */
.header-search {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-search__form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-search__form-imput {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}
.header-search__icon {
  width: 30px;
  height: 30px;
}
.header-upload {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-trash {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-trash__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-user {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-user__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px 0 5px 0;
}

/* Content styles */
.content {
  height: 87.5vh;
  display: flex;
  justify-content: space-around;
}
.nav-bar {
  width: 25%;
  border-right: 1px solid var(--light-gray);
}
li img.navbar-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.navbar-title {
  border-bottom: 1px  solid var(--light-gray);
}
.navbar-trash {
  border-top: 1px  solid var(--light-gray);
}
.navbar-trash i {
  margin: 5px;
  font-size: 1rem;
  align-items: center;
} 
.main-content {
  width: 70%;
  height: fit-content;
}
.main-modal {
  width: 40%;
  height: 90vh;
  position: absolute;
  right: -40%;
  background-color: var(--light-gray);
  display: none;
}
.file {
  cursor: pointer;
}

/* Modal content styles */
.main-modal__content {
  overflow-y: scroll;
  height: 85%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0 0 0;
  width: 70%;
}
.item-img {
  width: 20%;
}
.item-data {
  width: 70%;
}
.item-data__p,
.item-buttons__rename-label {
  margin: 10px 0;
}
.item-buttons {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.item-buttons__delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  margin: 20px auto;
}
.item-buttons__rename {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.item-buttons__move {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.item-buttons__move-select,
.item-buttons__rename-input  {
  margin: 10px 0;
  padding: 0 0 0 5px;
}
.item-buttons__delete-submit,
.item-buttons__rename-submit,
.item-buttons__move-submit,
.item-buttons__update-submit {
  background-color: var(--secondry-color);
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  margin: 5px;
}

.item-buttons__update-submit {
 background-color: var(--create-color);
}
.item-buttons__delete-submit {
  background-color: var(--delete-color);
}
.item-preview {
  display: flex;
  justify-content: center;
}
.item-preview__img,
.item-preview__video {
  max-width: 70%;
}
.item-buttons__update-input {
  margin: 20px 0;
}

.item-buttons__update {
  display: flex;
  flex-direction: column;
}

/* Footer styles */
.footer-item {
  margin: 5px 0;
}
